/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
/*     background-image: url(../img/Hbg.jpg);*/
     min-height: 100vh;
     background-position: center;
    background-size: cover; 
    margin: 0;
    padding: 0;
}
row{margin: 0;padding: 0;}
.p1p2 {
    min-height: 100vh;
    background: transparent;
}

/*Logo*/
.navbar-default {
    background-color: rgba(137, 112, 92, 0);
    border-color: rgba(137, 116, 94, 0);
}
.navbar-brand{position: absolute;bottom: 10px;}
.scrolling {
    background-color: #a9cbf8;
}
.navbar-default .navbar-nav>.active>a{
font-weight: bold;color: #555;
background-color: #ffffff;}

.navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #ffffff;}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: bold;
}
/*p2*/
.pro_img {
    margin-top: 13%;
}
.mu{font-family: 'Alegreya', serif;}
.mu0{display: none;}
.jm {
    font-size: 22px;
    font-family: 'Teko', sans-serif;
}
.see{}

/*Start bounce arrow*/
.arr_main {
    border: 2px solid #607D8B;
    margin: auto;
    width: 26px;
    height: 50px;
    border-radius: 28px;
    background-color: rgba(255, 255, 0, 0.49);
}
.ic {
    margin-top: 18px;
    font-size: 20px;
}
.btn-success {
    color: black;
    background-color: rgba(59, 94, 255, 0.66);
    border: 3px solid white;
    /* border-color: #eff6fe; */
    border-radius: 0;
}
.btn-success:hover {
    color: #fff;
    background-color: rgba(205, 220, 57, 0.89);
    border-color: #181b18;
}


/*
.arrow {
  bottom: 0;
  left: 50%;
  margin-left:-20px;
}
*/

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
.animated{-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-ms-animation-fill-mode:both;
-o-animation-fill-mode:both;

            animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

animation-fill-mode:both;
-webkit-animation-duration:2s;
-moz-animation-duration:2s;
-ms-animation-duration:2s;
-o-animation-duration:2s;
animation-duration:2s;
}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-15px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-15px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-15px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-15px);}
	60% {transform: translateY(-15px);}
}

/*End bounce arrow*/
/*p3*/
.p3{
/*    min-height: 100vh;*/
    background: transparent;
}
.about{}
.about h1{
    font-family: 'Abril Fatface', cursive;
}
.underline {
    height: 5px;
    background-color: #847c7c;
    width: 26%;
    margin: auto;
}
.my_pic {
    margin-top: 13%;
    border: 14px solid white;
}
.my_details {
    margin-top: 13%;
}
.my_details h3 {
    padding: 13px;
    line-height: 30px;
    word-spacing: 5px;
    font-size: 16px;
    border: 14px solid white;
    background-color: #c8d8e5;
}
.hi {
    font-size: 40px;
    color: red;
    font-family: 'Alegreya', serif;
}
/*part 4*/
.p4 {
/*    min-height: 100vh;*/
    background: transparent;
}
.mywork{ color: white;}
.mywork h1{font-family: 'Abril Fatface', cursive;}
.mc{margin-top: 20px;}
.underline2 {
    height: 5px;
    background-color: #847c7c;
    width: 80%;
    margin: auto;
}

.work_sliders{
    margin-top: 50px;
}

/*part5*/
.contact_title h1{font-family: 'Abril Fatface', cursive;}
.contact_details{}
.contact_details span{font-weight: bold;}
.footer {
/*    min-height: 100vh;*/
    background: transparent;
    color: white;
}
/* ==========================================================================
  Amar font
font-family: 'Abril Fatface', cursive;
font-family: 'Alegreya', serif;
font-family: 'Teko', sans-serif;
font-family: 'Bangers', cursive; ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
